@charset "utf-8";

*{
    padding: 0%;
    margin: 0%;

    font-family: 'Bellefair', serif;
}

/* começo do inicio*/
.principal{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction:column;
    justify-content: space-around;
    align-items: center;
}

.corinicio{
    background-color:#FFE4E1;
}

.h1{
    margin: 3% 0;
}

.texto{
    font-size: 4vh;
}

.margem1{
    margin: 0 15%;
}

.margem2{
    margin: 2% 0;
    margin-left: 40%;
}

.bnt_i{
    width: 75%;
}

.btn_color{
    background-color: #D8BFD8;
    text-align: center;
}


.btn_margin1{
    margin-bottom: 3%;
}

.btn_color:hover{
    background-color:#EEE8AA;
}


/* fim do inicio*/

/*inicio cadastro*/

.corcadastro{
    background-color: #EEE8AA;
}

.formC{
    padding: 2%;
    margin: 3%;
    border-radius: 20px;
    
}

.formCC{
    background-color:#E0FFFF ;
    border: solid #B0E0E6 10px;
}

.labelt{
    width: 400px;
    height: 50px;
}

.marginform{
   margin: 5% 10%;
}
marginform1{ 
    margin: 0% 20%;
}

.h1c{
    margin-top: 5%;
}

.enviar{
    width: 82.8%;
    height: 50px;
    border-radius: 20px;
    background-color: #FFE4B5;
}

/* fim cadastro*/

/*inicio login*/
.corlogin{
    background-color:#FFDAB9;
}

.formCl{
    background-color:#E6E6FA;
    border: solid #D8BFD8 10px;
}
/*fim login*/

.corSugestao{
    background-color: 	#F0FFF0;
}


.formCS{
    padding: 2%;
    border-radius: 20px;
    width: 60%;
    height: 60%;
    margin-bottom: 5%;
    background-color:#FFFFE0;
    border: solid #FFEBCD 10px;
}

.espaco{
    width: 90%;
    height: 200px;
    margin: 3% 5%;
}

.esquerda{
    margin-left: 8.5%;
}